<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash_icon_big"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_inset"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanYourBill"
        tools:targetApi="31">
        <activity
            android:name=".view.scanbill.ProcessedBillActivity"
            android:exported="false" />
        <activity
            android:name=".view.scanbill.ScanBillActivity"
            android:exported="false" />
        <activity
            android:name=".view.EmptyActivity"
            android:exported="false" />
        <activity
            android:name=".view.budget.ListBudgetActivity"
            android:exported="false" />
        <activity
            android:name=".ListTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.PinLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ScanYourBill.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.PinSignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.transaction.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.transaction.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".view.wallet.CreateWalletActivity"
            android:exported="false" />
        <activity
            android:name=".view.wallet.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>